snippet hapiserver
var Hapi = require('hapi');

var server = new Hapi.Server();
server.connection({ port: ${1:4000} });

server.route({
	method: '${2:GET}',
	path: '/${3}',
	handler: function (request, reply) {
	
		reply('ok');
	}
});

server.start(function () {
	console.log('Server started!');	
});
endsnippet
